/vendor
/node_modules
/.idea
/.vscode/*
!/.vscode/tasks.json
!/.vscode/settings.json
!/.vscode/extensions.json
/.env
/.env.*
!/.env.example
/storage/*.key
/storage/logs
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/bootstrap/cache
/public/build
*.log
Install_CodeRED-Platform.sh
/storage/app/private/ruc-imports/
/storage/framework/testing/disks/local/backups/
/storage/framework/testing/disks/local/imports/agencies/previews/*.json
!/storage/framework/testing/disks/local/imports/agencies/previews/28f10464-cfcd-4933-ab6e-6db79e1b6f0c.json
