parameters:
    level: 5
    paths:
        - app
        - routes
        - database
        - tests
    tmpDir: storage/framework/cache/phpstan
    bootstrapFiles:
        - vendor/autoload.php
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    excludes_analyse:
        - storage
        - bootstrap/cache
        - public/build
