includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 5
    paths:
        - app
        - routes
        - database
        - tests
    tmpDir: storage/framework/cache/phpstan
    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    stubFiles:
        - stubs/Illuminate/Database/Schema/ForeignKeyDefinition.stub
