<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
        Lo especifico de cada formato (que lanzador anuncia la app, si exige
        leanback o pantalla tactil, y el banner de television) vive en
        src/tv y src/mobile.
    -->
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.CodeRedAnimeTv">
        <activity
            android:name=".ui.PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:exported="false"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.CodeRedAnimeTv" />
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
            android:exported="true" />
    </application>
</manifest>
